# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries fro Data Science
- List examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Seaborn

|Data Science Tools|
|------------|
|MySQL|
|Apache Spark|
|Ceph|

### Below are a few examples of evaluating arithmetic expressions in Python

+:add

-:subtract

*:multiply

This a simple arithmetic expression to mutiply then add integers

In [4]:
result = (3*4)+5
print(result)

17

This will convert 200 minutes to hours by diving by 60

In [5]:
result = 200/60
print(result, "hours")

3.3333333333333335 hours

## Author
Mei Hanaoka